/* universal styles */

* {
    margin: 0;
    padding: 0;
    color: #DDE0E2;
    box-sizing: border-box;
    letter-spacing: 0.12rem;
}

body {
    background-color: #121B25;
    background-image: url(../Images/hero-img.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* universal header styles */

.bg-dark {
    background-color: rgba(52, 58, 64, 0.6)!important;
}

.navbar-dark .navbar-brand {
    color: #DDE0E2;
}

/* universal content styles */

@media (max-width: 767.98px) {
    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }    
}

@media (max-width: 575.98px) {
    
    h1 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }   
}

hr {
    width: 100%;
    background-color: #DDE0E2;
}

p {
    font-weight: lighter;
}

img.profile {
    width: 30%;
    height: 30%;
    max-height: 275px;
    max-width: 201px;
}

/* universal footer */

.copyright, .far {
    color: #4F575E;
    font-weight: lighter;
}

/* contact styles */

.form-control {
    background-color: #D2DAE2;
}

#inputMessage {
    height: 80px;
}

::placeholder {
    font-size: 0.8em;
}

.submit {
   background-color: #04090D;
   border: #11161C;
   color: #DDE0E2;
}
