/* universal styles */
* {
    margin: 0;
    padding: 0;
    color: #DDE0E2;
    box-sizing: border-box;
    letter-spacing: 0.12em;
}
body {
    background-color: #121B25;
    background-image: url(../Images/hero-img.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    margin: 0 auto;
}
hr {
    width: 100%;
    background-color: #DDE0E2;
}
p {
    font-weight: lighter;
}
section {
    margin-bottom: 80px!important;
}
/* universal header styles */
.bg-dark {
    background-color: rgba(52, 58, 64, 0.6)!important;
}
.footer {
    background-color: rgb(52, 58, 64)!important;
}
.navbar-dark .navbar-brand {
    color: #DDE0E2;
}
/* universal footer styles */
.copyright, .far {
    color: #4F575E;
    font-weight: lighter;
}
/* universal contact styles */
.form-control {
    background-color: #D2DAE2;
}
.submit {
   background-color: #04090D;
   border: #11161C;
   color: #DDE0E2;
}
/* small and x-small media queries */
@media (max-width: 575px) {
    .main-content {
        margin-top: 40px!important;
    }
    .navbar-brand {
        font-size: 2em;
    }
    h1 {
        font-size: 1.5em!important;
    }
    h3 {
        font-size: 1.25em!important;
    }
}
@media (min-width: 576px) {
    .main-content {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-brand {
        font-size: 2em;
    }
    h1 {
        font-size: 1.5em!important;
    }
    h3 {
        font-size: 1.25em!important;
    }
    hr {
        padding-right: 40px!important;
    }
}
@media (min-width: 767px) {
    .main-content {
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media (min-width: 992px) {
    .navbar-brand {
        font-size: 2em;
    }
    h1 {
        font-size: 1.75em!important;
    }
    h3 {
        font-size: 1.25em!important;
    }
}
img.profile {
    width: 30%;
    height: 30%;
    max-height: 275px;
    max-width: 201px;
}
/* contact styles */
#inputMessage {
    height: 80px;
}
::placeholder {
    font-size: 0.8em;
}